<!DOCTYPE html>
<html>
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <div class="content">
      <main>
        <%- body %>
      </main>
      <nav class="sidebar">
        <%- partial('_partial/sidebar') %>
      </nav>
      <div class="right-pad"></div>
    </div>
  </body>
</html>